.toastui-editor-dark {
  &.toastui-editor-defaultUI {
    border: 1px solid var(--editor-border);
  }
  & > .toastui-editor-contents {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: var(--main-text-color);
      text-align: center;
    }
    img {
      display: inline-block;
      max-width: 500px;
      width: 100%;
    }
    .toastui-editor-ww-code-block {
      text-align: left;
      &::after {
        content: "";
        display: none !important;
      }
      pre {
        background-color: var(--editor-content-background);
        border: 1px solid var(--editor-border);
      }
    }
  }
  .toastui-editor-toolbar {
    color: #000;
    .toastui-editor-defaultUI-toolbar {
      background-color: var(--editor-background);
      border-bottom: var(--editor-border-bottom);
      .toastui-editor-toolbar-group {
        & > button {
          border: none;
          color: var(--main-text-color);
          &:hover {
            background-color: var(--editor-border);
          }
        }
      }
    }
  }
  .toastui-editor-main {
    background-color: var(--editor-content-background);
    .toastui-editor-main-container {
      color: var(--main-text-color);
      .ProseMirror {
        color: var(--main-text-color);
      }
      .toastui-editor-md-container {
        .toastui-editor {
        }
        .toastui-editor-md-splitter {
          background-color: var(--editor-border);
        }
        .toastui-editor-md-preview {
          .toastui-editor-contents {
            pre {
              background-color: var(--editor-content-background);
              border: 1px solid var(--editor-border);
            }
          }
        }
      }
    }
  }
}
.toastui-editor-md-code-block-line-background {
  background-color: var(--editor-border);
}
