//헤더------------------------------------------
.header-wrap {
  width: 100%;
  height: 70px;
  min-height: 70px;
  max-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba($color: #000000, $alpha: 0);
  background: rgba($color: #000000, $alpha: 0);
  padding: 0 20px;
  .logo-wrap {
  }
  .nav-wrap {
    display: flex;
    align-items: center;
    gap: 15px;
    .nav-item {
      font-size: 20px;
      font-weight: 700;
      padding: 0px 10px;
      color: var(--main-text-color);
    }
    .profile-icon {
      cursor: pointer;
      width: 40px;
      color: var(--main-text-color);
      height: 40px;
      border-radius: 50%;
      background-color: var(--main-bg-color);
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 700;
    }
  }
}
//로딩------------------------------------------
.loading-wrap {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba($color: #000000, $alpha: 0.5);
  z-index: 9999;
  top: 0;
  left: 0;
  .loading {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--main-text-color);
    border-top-color: var(--main-bg-color);
    animation: spin 1s linear infinite;
  }
}
//메시지------------------------------------------
.message-item {
  max-width: 400px;
  width: 100%;
  &.success {
    background: rgba($color: #45b545, $alpha: 0.5) !important;
  }
  &.error {
    background: rgba($color: #b54545, $alpha: 0.5);
  }
  &.info {
    background: rgba($color: #45b5b5, $alpha: 0.5);
  }
}
