.post-page {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  .post-inner {
    max-width: 1440px;
    width: 100%;
    .post-detail-header {
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      p {
        font-size: 20px;
        color: #fff;
        &.post-title {
          font-weight: 700;
          display: -webkit-box;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          -webkit-line-clamp: 1;
        }
        &.post-date {
          width: 120px;
          text-align: right;
          font-weight: 300;
        }
      }
    }
    .post-detail-content {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
      text-align: center;
    }
    .post-edit-content {
      width: 100%;
      height: 100%;
      background-color: #fff;
    }
    .post-list-header {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    .post-list-wrap {
      display: grid;
      background: transparent;
      grid-gap: 20px;
      grid-template-columns: repeat(5, calc(20% - (20px * 4 / 5)));
      width: 100%;
      .post-item {
        cursor: pointer;
        z-index: 99;
        display: flex;
        backdrop-filter: blur(7px);
        flex-flow: column nowrap;
        width: 100%;
        border-radius: 15px;
        color: var(--main-color);
        border-radius: 4px;
        box-shadow: 0 4px 12px 0 rgba(255, 255, 255, 0.11);
        border-top: 1px solid var(--main-pretty-border-color3);
        border-left: 1px solid var(--main-pretty-border-color3);
        padding: 12px;
        gap: 10px;
        transition: box-shadow 0.25s ease-in, transform 0.25s ease-in;
        overflow: hidden;
        &:hover {
          box-shadow: 0 8px 20px 0 rgba(255, 255, 255, 0.14);
          transform: translateY(-4px);
        }
        .thumnail {
          width: 100%;
          height: 250px;
          background: rgba(0, 0, 0, 0);
          color: #fff;
          border-radius: 8px;
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          padding: 10px;
          overflow: hidden;
          position: relative;
          border-bottom: 1px solid var(--main-pretty-border-color3);
          border-right: 1px solid var(--main-pretty-border-color3);
          // &::after {
          //   content: "";
          //   position: absolute;
          //   top: 0;
          //   left: 0;
          //   width: 100%;
          //   height: 100%;
          //   background: rgba(0, 0, 0, 0.5);
          //   border-radius: 8px;
          // }
        }
        .info-wrap {
          padding: 0 0 10px 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
          .info-text {
            overflow: hidden;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            flex: 1;
            .tltle-text {
              font-size: 1.2rem;
              font-weight: 700;
              color: #fff;
              margin-bottom: 8px;
              overflow: hidden;
              display: -webkit-box;
              -webkit-box-orient: vertical;
              text-overflow: ellipsis;
              -webkit-line-clamp: 1;
            }
            .date {
              font-size: 0.9rem;
              color: #fff;
              word-break: break-word;
              overflow-wrap: break-word;
              display: -webkit-box;
              font-size: 12px;
              -webkit-line-clamp: 1;
              -webkit-box-orient: vertical;
              text-overflow: ellipsis;
            }
          }
          .icon-btn {
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            background-color: var(--main-pretty-border-color3);
            color: #fff;
            cursor: pointer;
            transition: background-color 0.25s ease-in;
            &:hover {
              background-color: var(--main-pretty-border-color5);
            }
          }
        }
        .post-card-footer {
          padding: 8px 0 0 0;
          color: #fff;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-top: 1px solid var(--main-pretty-border-color3);
          font-size: 12px;
          .email {
          }
          & > p {
          }
        }
      }
    }
  }
}
.input-wrap {
  flex: 1;
  display: flex;
  height: 35px;
}
.custom-input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: white;
  color: #000;
  padding: 0 10px;
  &:focus {
    outline: none;
  }
}
@media screen and (max-width: 1919px) {
  .post-list-wrap {
    grid-template-columns: repeat(4, calc(25% - (20px * 3 / 4))) !important;
  }
}

@media screen and (max-width: 1440px) {
  .post-list-wrap {
    grid-template-columns: repeat(3, calc(33.33% - (20px * 2 / 3))) !important;
  }
}

@media screen and (max-width: 1056px) {
  .post-list-wrap {
    grid-template-columns: repeat(2, calc(50% - (20px * 1 / 2))) !important;
  }
}

@media screen and (max-width: 768px) {
  .post-list-wrap {
    grid-template-columns: repeat(1, 100%) !important;
    grid-gap: 16px !important;
  }
}
