.post-page {
  width: 100%;
  height: 100%;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  .post-inner {
    max-width: 1100px;
    width: 100%;
    display: flex;
    gap: 15px;
    min-height: 600px;
    height: 100%;
    .left-console {
      width: 256px;
      max-width: 256px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      .console-item {
        width: 100%;
        display: flex;
        align-items: flex-start;
        gap: 8px;
        flex-direction: column;
        .left-logo-wrap {
          height: 100px;
        }
        .post-search-wrap {
          height: 60px;
        }
        .category-list-wrap {
          width: 100%;
          height: 200px;
          overflow-y: auto;
          .category-list-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            width: 100%;
            padding: 5px 8px;
            color: #fff;
            font-weight: 600;
          }
        }
      }
    }
    .right-list {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      .list-header {
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        & > p {
          text-align: left;
          font-size: 22px;
          color: #fff;
        }
      }
      .list-wrapper {
        height: 100%;
        padding: 0 15px !important;
        flex: 1;
      }
    }
    .post-detail-inner {
      max-width: 1100px;
      width: 100%;
      .post-detail-header {
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        p {
          font-size: 20px;
          color: #fff;
          &.post-title {
            font-weight: 700;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            -webkit-line-clamp: 1;
          }
          &.post-date {
            width: 120px;
            text-align: right;
            font-weight: 300;
          }
        }
      }
      .post-detail-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #fff;
        text-align: center;
      }
      .post-edit-content {
        width: 100%;
        height: 100%;
        background-color: #fff;
      }
    }
    .post-list-header {
      width: 100%;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    //리스트 아이템
    .post-item {
      width: 100%;
      padding: 15px 10px;
      border-radius: 4px;
      border-bottom: 1px solid var(--main-pretty-border-color3);
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: #fff;
      .tltle-text {
        flex: 1;
        font-size: 1.2rem;
        font-weight: 700;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        -webkit-line-clamp: 1;
      }
      .info-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        .info-text {
          overflow: hidden;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          border-left: 1px solid var(--main-pretty-border-color3);
          padding-left: 10px;
          gap: 10px;
          .category {
            font-size: 15px;
          }
          .date {
            font-size: 12px;
          }
        }
        .icon-btn {
          width: 30px;
          height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          background-color: var(--main-pretty-border-color3);
          color: #fff;
          cursor: pointer;
          transition: background-color 0.25s ease-in;
          &:hover {
            background-color: var(--main-pretty-border-color5);
          }
        }
      }
    }
  }
}
.viewer-wrap {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  & > div {
    width: 100%;
    height: 100%;
    flex: 1;
  }
}
.input-wrap {
  flex: 1;
  display: flex;
  height: 35px;
}
.custom-input {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: var(--main-bg-color);
  color: #fff;
  padding: 0 10px;
  &:focus {
    outline: none;
  }
}
